<h1>Stupid Coaching</h1>

<div class=question>
  <%= @question %>
  <p><em>- You</em></p>
</div>

<div class="answer">
  <%= @answer %>
  <p><em>- Coach</em></p>
</div>

<div class="link-new">
  <%= link_to "Ask a new question", '/ask' %>
</div>
