<h1>Stupid Coaching</h1>
<p class="ask-sentence">Ask your coach anything:</p>

<form action="/answer">
  <input class="input" type="text" name="question">
  <input class="btn" type="submit" value="Ask!">
</form>
